extends layout

block content

  .container-login
    .panel.panel-primary
      .panel-heading
        h3.panel-title  #{title}
      .panel-body.center-block
        form(method='POST' action='/users/login')
          .form-group
            label.control-label Username:
              input(type='text' name='username' class='form-control' id='inputDefault')
          .form-group
            label.control-label Password:
              input(type='password' name='password' class='form-control' id='inputDefault')
          button(type='submit' class='btn btn-primary') Submit
