extends layout

block content
  h1 #{title}

  form(method='POST' action='/users/login')
    div
      label Username:
      input(type='text' placeholder='username' name='username')
    br
    div
      label Password:
      input(type='password' placeholder='password' name='password')
    br
    button(type='submit') Submit
