extends layout

block content
  
  .container-reg
    .panel.panel-primary
      .panel-heading
        h3.panel-title  #{title}
      .panel-body.center-block    
        form(method='POST' action='/users/register')
          .form-group
            label.control-label Name:
              input(type='text' name='name' class='form-control' id='inputDefault')
          .form-group
            label.control-label Username:
              input(type='text' name='username' class='form-control' id='inputDefault')
          .form-group
            label.control-label Email:
              input(type='text' name='email' class='form-control' id='inputDefault')
          .form-group
            label.control-label Password:
              input(type='password' name='password' class='form-control' id='inputDefault')
          .form-group
            label.control-label Confirm Password:
              input(type='password' name='password2' class='form-control' id='inputDefault')
                
          button(type='submit' class='btn btn-primary') Submit
